.heading{
    background: rgb(216, 216, 216);
    height: 200px;
}
.head{
    padding: 15px;
    
    
    
}
.h2{
    color: rgb(138, 134, 134);
    font-size: 13px;
}
.h3{
    width: 220px;
}
.laptop{
    
   /* height: 150px;
   width: 200px; */
   position: absolute;
   transform: translate(-50%,-50%);
   left: 85%;
 top: 100px;
}
.lapto
{
  height:190px;
  width: 250px;
  
}
.mid-1{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.se{
    width: 42px;
    height: 35px;
    border-radius: 5px;
    
}
.sec{
    width: 130px;
    height: 35px;
     border-radius: 5px;
}
.box-1{
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px;border-radius: 7px;

}
.sbox{
    font-weight: 600;
    width: 34px;
    display: inline-block;
    color: white;
    height: 17px;
    background: red;
    border-radius: 3px;
    margin-left: 13px;
    margin-top: 13px;
}
.sbox-1{
    font-weight: 600;
    width: 34px;
    display: inline-block;
    color: white;
    height: 17px;
    background:green;
    border-radius: 3px;
    margin-left: 13px;
    margin-top: 13px;
}
.section{
    display: flex;
    flex-direction: column;
}
.image{
    width:130px ;
    height:120px ;
}
.h6{
     color: rgb(138, 134, 134);
    font-size: 13px;
    padding-left: 14px;
}
.images{
    display: flex;
    justify-content: center;
    justify-items: center;
}
.h4{
    margin-bottom:;
}
.h5{
    font-weight: 300;
    padding-left: 13px;
}
.star{
    font-size: 13px;
    padding-left: 12px;
    margin-top: 10px;
}
.n1{
    font-size: 16px;
    padding-left: 13px;
}
.button-1{
    background:#0AAD0A;
    color: white;
    margin-left: 30%;

}
.contect-2{
    margin-top: 16%;
}
.contect{
    display:flex;
    gap: 11px;
    justify-content: center;
    justify-items: center;
    

}
.box-2  {
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
    
}
.contect-1{
    margin-top: 31%;
}
.box-3  {
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
}
.sbox-button{
     font-weight: 600;
    width: 145px;
    display: inline-block;
    color: white;
    height: 17px;
    background: red;
    border-radius: 3px;
    margin-left: 8px;
    margin-top: 13px;
    
}
.box-4  {
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
}
.box-5  {
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
    margin-top: 10px;
}
.line-2{
    display: flex;
    gap:11px ;
}
.box-6{
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
    margin-top: 10px;
}
.sbox-button-change{
    padding: 0px;
     font-weight: 600;
    width: 145px;
    display: inline-block;
    color: white;
    height: 17px;
    background: red;
    border-radius: 3px;
    margin-left: 8px;
    margin-top: 11px;
    
}
.box-1-1{
   background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
    margin-top: 10px;
}
.box-3-2{
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
    margin-top: 10px;
}
.box-4-2{
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
    margin-top: 10px;
}
.box-3-4{
    background:white;
    border: 2px solid black;
    width:195px;
    height:290px; border-radius: 7px;
    margin-top: 10px;
}
.line-2{
    display: flex;
    justify-content: center;

    justify-items: center;
}
.line-3{
    display: flex;
    margin-left: 4.4%;
}